h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:brown;
    font-size: 20pt;
    text-align: center;
    background-image: url(mario.jpg);
    background-size: 100%;

}

p{
    font-size: 14pt;
}
body{
    background-color: yellow;
}

#buttonImg{
    
    position:fixed;
    bottom: 100px;
    right: 150px;
    border-radius: 30px;
    /* border-color: black;
    border:solid;
    border-width: 2px; */
    border: solid black 2px;
    padding: 10px;
    margin-top: 20px;

}

header{
    overflow: hidden;
    background-color: rgb(200, 186, 12);
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
}

header img{
    width: 48px;
    float: left;
}
header .menuitems {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

header .menuitems:hover {
    background: rgb(5, 245, 225);
    color: black;
  }

.main {
    padding: 16px;
    margin-top: 30px;
  }

.footer {
    background-color: rgb(99, 92, 6);
    clear: both;
    position: relative;
    height: 30px;
    margin-top: 200px;
    color: #ccd1b7;
}

.videoYoutube{
    background-color: rgba(200, 187, 12, 0.397);
    margin-right: 910px;
}